tension-measuring/*.png
tension-measuring/*.pyc
scrapy_project/.idea/
scrapy_project/subtitle_scraper/__pycache__/
scrapy_project/subtitle_scraper/spiders/__pycache__/
tension-measuring/.idea/
ipython/.ipynb_checkpoints/
!.gitignore
tension-measuring/__pycache__/
